version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: airflow_postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  airflow:
    build:
      context: .
      dockerfile: docker/Dockerfile.airflow
    container_name: airflow_main
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - ./logs:/opt/airflow/logs
      - ./reports:/opt/airflow/reports
    ports:
      - "8080:8080"

    command: >
      bash -c "
      airflow db migrate &&
      airflow users create --username ${AIRFLOW_WEBSERVER_USER} --password ${AIRFLOW_WEBSERVER_PASSWORD} --firstname Air --lastname Flow --role Admin --email admin@example.com &&
      airflow scheduler & airflow webserver
      "

volumes:
  postgres_data:
